@use './variables' as *;

body {
    margin: 0;
}

* {
    margin: 0;
}


@media screen and (min-width: 1280px) {
    
    /* Navigation */
    nav {
        width: 100%;
    }
    
    body {
        margin: 0;
    }

    * {
        margin: 0;
    }

    .navsection {
        display: flex;
        flex-direction: row;
    }
    
    .navsection__title {
        padding: 32px;
        margin-left: 120px;
        justify-content: center;
        margin-right: 3rem;
    }

    .navsection__menu--container {
        display: flex;
        flex-direction: row;
    }

    .nav__text--container {
        padding-left: 1rem; /*16px */
        padding-right: 3.5rem;
        justify-content: center;
        padding-top: 1rem;
    }

    .nav__text--container2 {
        justify-content: center;
        padding-top: 1rem;
        border-bottom:  .3rem solid map-get($colors, cta__text--active);
    }



    nav a.active {
        text-decoration: underline;
        display: inline-block;
        text-underline-offset: 2.25rem; /*36px */
        text-decoration-color: map-get($colors , cta__text--active );
        text-decoration-thickness: 0.313rem; /*5px */
        color: map-get($colors , cta__text--active );
    }


    nav a.inactive {
        color: map-get($colors , cta__text--col );
        text-decoration: none;
    }

    /* Navigation */

    /* HERO SECTION */
    .hero__section {
        width: 100vw;
    }
    
    .hero__img--container {
        position: relative;
        text-align: center;
        color: map-get($colors , cta__text--active );
        background-image: url(../assets/Images/hero-bio.jpg);
        background-size:cover;
        height: 65vh;
        width: 100vw;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        // justify-content: center;
        // align-items: center;
    }

    .hero__img--container h1 {
        position: absolute;
        //top: 47%;
        font-size: 3.75rem; /* 60px */
        line-height: 4.25rem;
        font-weight: 600;
        padding: 3rem;
        order: 1;
    }

    .hero__img--container h3 {
        align-self: flex-start;
        position: absolute;
        font-size: 1.5rem;
        line-height: 2.75rem;
        font-weight:600;
        order:0;
        padding: 3rem;
        margin-left: 120px;
    }

    .hero__opaque--filter {
        position: absolute ;
        background-color: #323232;
        opacity: 50%;
        height: 100%;
        width: 100%;
    }


    .soundcloud__container {
        width: 60%;
        height: 20%;
        position:absolute;
        top: 60%;
        padding-left: 3rem;
        padding-right: 3rem;
        order:2;
    }

    .soundcloud__container iframe {
        width:50%
    }
    /* HERO SECTION */



     /*ABOUT SECTION */

     .about__section h1, .gallery__title h1 {
        color: map-get($colors, bandSite__black );
        font-size:  2.25rem; /* 60px */
        line-height: 2.75rem; /* 32px */ 
        font-weight: 700;
        padding-left: 3rem;
        margin-left: 4rem;
    }

    .about__section {
        padding: 3rem;
    }
    
    .musician__image--container {
        display: block;
        background-image: url(../assets/Images/band.jpg);
        background-size: cover;
        margin-right: auto;
        margin-left:auto;
        margin-top: 3rem;
        width: 68vw;
        height: 60vh/* 550px */

    }

    .about__section--text h2 {
        font-size: 1.5rem; /*24px*/
        line-height: 2rem; /*32px */
        font-weight:700;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        margin-left: 9.5vw;
        margin-right: 28vw;
        margin-top: 2rem;
    } 

    .about__section--text h3 {
        font-size: 0.875rem; /*14px*/
        line-height: 2rem; /*32px */
        font-weight:600;
        padding-left: 2.5vw; /*36px*/
        margin-left: 9vw;
    }

    .about__section--text h4 {
        padding-left: 3rem; /* 48px */
        font-size: 1.5rem; /* 24px */
        line-height: 2.75rem; /*44px */
        margin-bottom: 0;
        margin-left: 10rem;
    }

    .about__section--text p {
        font-size: 0.875rem; /*14px*/
        line-height: 1.375rem; /* 22px */
        font-weight: 400;
    }

    .about__body--container {
        display: flex;
        padding-left: 2rem; /*36px*/
        padding-right: 3rem; /*36px*/
        margin-left: 10rem;
        margin-right: 9rem;
    }

    .about__body--paragraph {
        margin: 1rem;
    }
    /*ABOUT SECTION */


    /* Gallery Section */

    .gallery__section {
        display: flex;
        background-color: #FAFAFA;
        justify-content: center;
        padding-bottom: 3rem;
       
    }
    
    .gallery__title {
        padding:3rem;
        background-color: #FAFAFA;
    }

    .gallery__container {
        display: flex;
        max-width: 75rem;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1rem;
    }

    .gallery__container img {
        width: 23rem;
        height: 12.5rem;
    }


    .img__container {
        display: inline-block;
        width: 23rem;
        height: 12.5rem;
    }
    /*gallery Section */

    /*Shows Section */

    .shows__section {
        display: flex;
        padding: 3rem;
        //border-bottom: .3rem solid map-get($colors , cta__text--col );
        flex-wrap: wrap;
        flex-direction: column;
    }

    .table__container {
        width: 100%;
    }

    .show__table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }

    .shows__section h1 {
        font-size: 3.75rem; /* 60px */
        line-height: 4.25rem; /* 68px */ 
        font-weight: 700;
    }

    .table__container th {
        font-size: .875rem; /*14px*/
        line-height: 1.375rem;
        font-weight: 600;
        text-align: left;
        color: map-get($colors ,cta__text--col);
    }

    .show__table tr {
        padding: 1rem;
    }

    .table__row {
        border-bottom: 2px solid map-get($colors , divider__line);
        padding-bottom: 1rem;
    }
 
    .table__data--date {
        font-size: .875rem;
        line-height: 2rem;
        font-weight: 700;
    }


    .ticket__button {
        align-self: center;
        background-color: map-get($colors , bandSite__black);
        color: #FFFFFF;
        height: 2.5rem; /*40px*/
        width: 100%;
        border-radius: 0.25rem; /*4px*/
        border: none;
    }
                                         



    
    
    
    
    
    
    /*Shows Section */

    /*comment section*/

    .add__comment {
        display: flex;
        justify-content: center;
        // width: 5rem;
    }

    .add__comment p {
        margin-bottom: 4px;
        color: #AFAFAF;
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 400;
    }


    .comment__section h1 {
        font-size: 3.75rem;
        line-height: 4.25rem;
        font-weight: 700;
        padding-left: 3rem;
    }

    .user__icon--container {
        border-radius: 50%;
        padding-left: 2rem;
        padding-right: 1rem;
        padding-top: 2.5rem;
    }

    .user__icon {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        
        
    }

    .form__container {
        width: 33rem;
    }

    .form__username {
        height: 48px;
        border-radius: 4px;
        width: 100%;
        position: inherit;
        border: 1px solid map-get($colors, divider__line );
        padding: 1rem;
        box-sizing: border-box;

        &:active, &:focus { // I think you said you wanted focus as well
            border: 1px solid map-get($colors , bandSite__black );
            outline: none; // add this
            background-color: #ffffff;
          }

          &:invalid {
            border: 1px solid red;
          }
    }


    .comment__textbox {
        width: 100%;
        border: 1px solid map-get($colors, divider__line );
        height: 96px;
        border-radius: 4px;
        padding: 1rem;
        box-sizing: border-box;

        &:active, &:focus { // I think you said you wanted focus as well
            border: 1px solid map-get($colors , bandSite__black );
            outline: none; // add this
            background-color: #ffffff;
          }

          &:invalid {
            border: 1px solid red;
          }
    }


    .comment__button {
        height: 40px;
        width: 150px;
        color: white;
        background-color: #323232;
        margin-left: 0.75rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 4px;
        float: right;
    }


    .user__icon--blank {
        background-color: #E1E1E1;
        opacity: 50%;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        margin: 0;
        order: 0;
        margin-top:2rem;
        box-sizing: border-box;
    }

    .comment__card {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 33rem;
        padding: 3rem;
        margin-right: 0;
        height: 50vh;
        
    }

    .saved__comment--container {
        width: 100%;
        margin: 0;
        align-self: center;
        justify-self: center;
    }


    /*comment section*/




















    /*footer section */

    .footer__container {
        display: flex;
        width: 100%;
        background-color: map-get($colors, bandSite__black );
        padding-left: 3rem;
        padding-bottom: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        color: #FFFFFF;
        
    }

    .footer__container h1 {
        color: #FFFFFF;
        font-size: 2.75rem; /*60px*/
        line-height: 2.75rem; /*44px */
        font-weight:700;
        padding-top: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        order: 0;
        width: 20rem; /* 340 px */
        height: 4rem; /* 148px */
        text-align: center;
        
        
    }


    .footer__container h3 {
        margin: .25rem;
    }

    .footer__socialicons { 
        display: flex;
        padding-top: 5rem;
        padding-bottom: 4.75rem;
        padding-right: 5.75rem;
        order: 1;
        width: 38rem;
        align-items: center;
    }

    .footer__socialicons img {
        align-items: center;
        width: 4rem;
        height: 2rem;
    }

    .footer__logo--container{
        order: 3;
        width: 8rem;
        height: 2rem;
        margin-top: 5rem;
        margin-left: 3rem;
        justify-content: right;
        margin-bottom: 5rem;
    }

    .footer__title {
        order:4;
        color: #FFFFFF;
        padding-left: 3rem;
        width: 17rem;
    }


    .footer__title--extended {
        order: 5;
        color: #FFFFFF;
        padding-left: 3rem;
        width: 36rem;
    }

    .footer__paragraph{
        order:6;
        width: 17rem;
        text-align: left;
        padding-left: 3rem;
    }

    .footer__paragraph--extended{
        order:7;
        width: 27rem;
        text-align: left;
        padding-left: 3rem;
    }


    .footer__email1 {
        order: 8;
        width: 18rem;
        text-align: left;
        padding-left: 3rem;
    }

    .footer__email2 {
        order: 9;
        width: 18rem;
        text-align: left;
        padding-left: 2rem;
    }

    .footer__email3 {
        order: 10;
        width: 18rem;
        text-align: left;
        padding-left: 2rem;
    }
    .footer_copyright {
        order:11;
        color: #FFFFFF;
        width: 28rem;
        text-align: left;
        padding-left: 3rem;
    }


}