@use './variables' as *;





/* Tablet breakpoint*/
@media screen and (min-width: 768px) and (max-width: 1279px) {
    /* Navigation*/
    nav {
        width: 100%;
    }
    
    .navsection {
        display: flex;
        flex-direction: row;
    }
    
    .navsection__title {
        padding: 24px;
        justify-content: center;
    }
    

    .navsection__menu--container {
        display: flex;
        flex-direction: row;
    }

    .nav__text--container {
        padding-left: 1rem; /*16px */
        padding-right: 3.5rem; /*56px */
        justify-content: center;
        padding-top: .5rem;
    }

    .nav__text--container2 {
        justify-content: center;
        padding-top: .5rem;
        border-bottom: .3rem solid map-get($colors , cta__text--active );
    }
    


    nav a.active {
        text-decoration: underline;
        display: inline-block;
        text-underline-offset: 1.75rem; /*28px */
        text-decoration-color: map-get($colors , cta__text--active );
        text-decoration-thickness: 0.313rem; /*5px */
        color: map-get($colors , cta__text--active );
    }

    nav a.inactive {
        color: map-get($colors , cta__text--col );
        text-decoration: none;
    }

    /* Navigation*/


     /*ABOUT SECTION */

     .about__section h1 {
        color: map-get($colors, bandSite__black );
        font-size:  3.75rem; /* 60px */
        line-height: 4.25rem; /* 68px */ 
        font-weight: 700;
        margin: 0;
    }

    .about__section {
        padding: 3rem;
    }
    
    .musician__image--container {
        display: block;
        background-image: url(../assets/Images/band.jpg);
        background-size: cover;
        margin-right: auto;
        margin-left:auto;
        margin-top: 3rem;
        width: 75vw;
        height: 50vh/* 550px */

    }

    .about__section--text h2 {
        font-size: 1.5rem; /*24px*/
        line-height: 2rem; /*32px */
        font-weight:700;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-top: 2rem;
    } 

    .about__section--text h3 {
        font-size: 0.875rem; /*14px*/
        line-height: 2rem; /*32px */
        font-weight:600;
        padding-left: 3rem; /*36px*/
    }

    .about__section--text h4 {
        padding-left: 3rem; /* 48px */
        font-size: 1.5rem; /* 24px */
        line-height: 2.75rem; /*44px */
        margin-bottom: 0;
    }

    .about__section--text p {
        font-size: 0.875rem; /*14px*/
        line-height: 1.375rem; /* 22px */
        font-weight: 500;
        margin-right: 3rem
    }

    .about__body--container {
        display: flex;
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .about__body--paragraph {
        margin: 1rem;
    }

    /*about Section*/
















    /* HERO SECTION */

    .hero__section {
        width: 100vw;
    }

    .hero__img--container {
        position: relative;
        color: map-get($colors , cta__text--active );
        background-image: url(../assets/Images/hero-shows.jpg);
        background-size:cover;
        height: 65vh;
        width: 100vw;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .hero__img--container h1 {
        position: absolute;
        top: 20%;
        padding-left: 3rem;
        //transform: translate(-50%, -50%);
        font-size: 3.75rem; /* 60px */
        line-height: 4.25rem; /* 68px */ 
        font-weight: 700;
        text-align: left;
        order: 1;
    }

    .hero__img--container h3 {
        position: absolute;
        top: 10%;
        padding-left: 3rem;
        font-size: 1.5rem;/*24px*/
        line-height: 2.75rem;
        font-weight: 600;
        order:0
    }

    

    .hero__opaque--filter {
        position: absolute ;
        background-color: #323232;
        opacity: 50%;
        height: 100%;
        width: 100%;
    }

    .soundcloud__container {
        width: 90%;
        height:20%;
        position: absolute;
        top: 60%;
        padding-left: 3rem;
        padding-right: 3rem;
        
    }

    .soundcloud__container iframe {
        width: 50%;
    }

    /* HERO SECTION */
    
    /* Gallery Section */

    .gallery__section {
        display: flex;
        background-color: #FAFAFA;
        justify-content: center;
        padding-bottom: 3rem;
       
    }
    
    .gallery__title {
        padding:3rem;
        background-color: #FAFAFA;
        color: map-get($colors, bandSite__black );
        font-size:  3.75rem; /* 60px */
        line-height: 4.25rem; /* 68px */ 
        font-weight: 700;
        margin: 0;
    }

    .gallery__container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        //justify-content: space-evenly;
        padding-left: 3rem;
        padding-right: 3rem;
        overflow: hidden;
        //padding: 3rem;
    }

    .img__container {
        flex: 0 0 33.333333%;
        overflow: hidden;
        position: relative;
    }


    .gallery__container img {
        width: 20rem;
        height: 12.5rem;
        padding: .5rem;
    }

    // .gallery__title h1 {
    //     color: map-get($colors, bandSite__black );
    //     font-size:  3.75rem; /* 60px */
    //     line-height: 4.25rem; /* 68px */ 
    //     font-weight: 700;
    //     margin: 0;
    // }

    /*gallery Section */
















    /* SHOWS Section */

    .shows__section {
        display: flex;
        padding: 3rem;
        //border-bottom: .3rem solid map-get($colors , cta__text--col );
        flex-wrap: wrap;
        flex-direction: column;
    }

    .table__container {
        width: 100%;
    }

    .show__table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }

    .shows__section h1 {
        font-size: 3.75rem; /* 60px */
        line-height: 4.25rem; /* 68px */ 
        font-weight: 700;
    }

    .table__container th {
        font-size: .875rem; /*14px*/
        line-height: 1.375rem;
        font-weight: 600;
        text-align: left;
        color: map-get($colors ,cta__text--col);
    }

    .show__table tr {
        padding: 1rem;
    }

    .table__row {
        border-bottom: 2px solid map-get($colors , divider__line);
        padding-bottom: 1rem;
    }
 
    .table__data--date {
        font-size: .875rem;
        line-height: 2rem;
        font-weight: 700;
    }


    .ticket__button {
        align-self: center;
        background-color: map-get($colors , bandSite__black);
        color: #FFFFFF;
        height: 2.5rem; /*40px*/
        width: 100%;
        border-radius: 0.25rem; /*4px*/
        border: none;
    }
                                                       
    /* Footer Section */

    .footer__container {
        display: flex;
        width: 100vw;
        background-color: map-get($colors, bandSite__black );
        padding: 3rem;
        padding-bottom: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        color: #FFFFFF;
        gap: 5%;
        
    }

    .footer__container h1 {
        color: #FFFFFF;
        font-size: 2.75rem; /*60px*/
        line-height: 2.75rem; /*44px */
        font-weight:700;
        order: 0;
        width: 18rem; /* 340 px */
        height: 3rem; /* 148px */
        margin: 0;
        
    }

    .footer__socialicons { 
        display: flex;
        order: 1;
        width: 15rem;
        justify-self: left;
    }

    .footer__socialicons img {
        align-items: center;
        width: 4rem;
        height: 2rem;
    }

    .footer__logo--container{
        order: 3;
        width: 8rem;
        height: 2rem;
        margin:auto;
        flex: 2 ;
    }

    .footer__title {
        order:4;
        color: #FFFFFF;
        width: 18rem;
        flex: 1 0 33%;
    }

    .footer__title--extended {
        order: 5;
        color: #FFFFFF;
        width: 11rem;
        flex: 1 0 33%;
    }
    .footer__paragraph{
        order:6;
        width: 18rem;
        text-align: left;
        flex: 1 0 33%;
    }

    .footer__paragraph--extended {
        order:7;
        width: 9rem;
        text-align: left;
        flex: 1 0 33%;
    }

    .footer__email1 {
        order: 8;
        width: 18rem;
        text-align: left;
        flex: 1 0 33%;
    }

    .footer__email2 {
        order: 9;
        width: 18rem;
        text-align: left;
        flex: 1 0 33%;
    }

    .footer__email3 {
        order: 10;
        width: 13rem;
        text-align: left;
        flex: 1 0 33%;
    }
    
    .footer_copyright {
        order:11;
        color: #FFFFFF;
        width: 100%;
        text-align: left;
        margin: auto;
    }
    /*Footer Section */
}
/*TABLET BREAKPOINT */



















/*----------------------------------------------------------------------------------------*/



