@use './variables' as *;





/* Tablet breakpoint*/
@media screen and (min-width: 768px) and (max-width: 1279px) {
    * {
        font-family:  'avenir_next_lt_proregular', sans-serif;
        font-size: 16px;
    }
    
    
    body {
        margin: 0px;
        padding: 0;
        border: none;
    }

    /* Navigation*/
    nav {
        width: 100%;
    }
    
    .navsection {
        display: flex;
        flex-direction: row;
    }
    
    .navsection__title {
        padding: 24px;
        justify-content: center;
    }
    

    .navsection__menu--container {
        display: flex;
        flex-direction: row;
    }

    .nav__text--container {
        padding-left: 1rem; /*16px */
        padding-right: 3.5rem; /*56px */
        justify-content: center;
        padding-top: .5rem;
    }

    .nav__text--container2 {
        justify-content: center;
        padding-top: .5rem;
        border-bottom: .3rem solid map-get($colors , cta__text--active );
    }
    


    nav a.active {
        text-decoration: underline;
        display: inline-block;
        text-underline-offset: 1.75rem; /*28px */
        text-decoration-color: map-get($colors , cta__text--active );
        text-decoration-thickness: 0.313rem; /*5px */
        color: map-get($colors , cta__text--active );
    }

    nav a.inactive {
        color: map-get($colors , cta__text--col );
        text-decoration: none;
    }

    /* Navigation*/


     /*ABOUT SECTION */

     .about__section h1 {
        color: map-get($colors, bandSite__black );
        font-size:  3.75rem; /* 60px */
        line-height: 4.25rem; /* 68px */ 
        font-weight: 700;
        margin: 0;
    }

    .about__section {
        padding: 3rem;
    }
    
    .musician__image--container {
        display: block;
        background-image: url(../assets/Images/band.jpg);
        background-size: cover;
        margin-right: auto;
        margin-left:auto;
        margin-top: 3rem;
        width: 75vw;
        height: 50vh/* 550px */

    }

    .about__section--text h2 {
        font-size: 1.5rem; /*24px*/
        line-height: 2rem; /*32px */
        font-weight:700;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-top: 2rem;
    } 

    .about__section--text h3 {
        font-size: 0.875rem; /*14px*/
        line-height: 2rem; /*32px */
        font-weight:600;
        padding-left: 3rem; /*36px*/
    }

    .about__section--text h4 {
        padding-left: 3rem; /* 48px */
        font-size: 1.5rem; /* 24px */
        line-height: 2.75rem; /*44px */
        margin-bottom: 0;
    }

    .about__section--text p {
        font-size: 0.875rem; /*14px*/
        line-height: 1.375rem; /* 22px */
        font-weight: 500;
        margin-right: 3rem
    }

    .about__body--container {
        display: flex;
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .about__body--paragraph {
        margin: 1rem;
    }

    /*about Section*/
















    /* HERO SECTION */

    .hero__section {
        width: 100vw;
    }

    .hero__img--container {
        position: relative;
        color: map-get($colors , cta__text--active );
        background-image: url(../assets/Images/hero-shows.jpg);
        background-size:cover;
        height: 65vh;
        width: 100vw;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .hero__img--container h1 {
        position: absolute;
        top: 20%;
        padding-left: 3rem;
        //transform: translate(-50%, -50%);
        font-size: 3.75rem; /* 60px */
        line-height: 4.25rem; /* 68px */ 
        font-weight: 700;
        text-align: left;
        order: 1;
    }

    .hero__img--container h3 {
        position: absolute;
        top: 10%;
        padding-left: 3rem;
        font-size: 1.5rem;/*24px*/
        line-height: 2.75rem;
        font-weight: 600;
        order:0
    }

    

    .hero__opaque--filter {
        position: absolute ;
        background-color: #323232;
        opacity: 50%;
        height: 100%;
        width: 100%;
    }

    .soundcloud__container {
        width: 90%;
        height:20%;
        position: absolute;
        top: 60%;
        padding-left: 3rem;
        padding-right: 3rem;
        
    }

    .soundcloud__container iframe {
        width: 50%;
    }

    /* HERO SECTION */
    
    /* Gallery Section */

    .gallery__section {
        display: flex;
        background-color: #FAFAFA;
        justify-content: center;
        padding-bottom: 3rem;
       
    }
    
    .gallery__title {
        padding:3rem;
        background-color: #FAFAFA;
        color: map-get($colors, bandSite__black );
        font-size:  3.75rem; /* 60px */
        line-height: 4.25rem; /* 68px */ 
        font-weight: 700;
        margin: 0;
    }

    .gallery__container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        //justify-content: space-evenly;
        padding-left: 3rem;
        padding-right: 3rem;
        overflow: hidden;
        //padding: 3rem;
    }

    .img__container {
        flex: 0 0 33.333333%;
        overflow: hidden;
        position: relative;
    }


    .gallery__container img {
        width: 20rem;
        height: 12.5rem;
        padding: .5rem;
    }

    // .gallery__title h1 {
    //     color: map-get($colors, bandSite__black );
    //     font-size:  3.75rem; /* 60px */
    //     line-height: 4.25rem; /* 68px */ 
    //     font-weight: 700;
    //     margin: 0;
    // }

    /*gallery Section */

    /* comment Section */

    .comment__section--container {
        display: flex;
        flex-wrap: wrap;
        padding: 3rem;
        justify-content: center;
        flex-direction: row;
    }
        
    .user__icon--blank {
        background-color: #E1E1E1;
        opacity: 50%;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        margin: 0;
        order: 0;
        margin-top:2rem;
    }

    .user__icon--container {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        //align-self: flex-start;
        position: relative;
        bottom: 28%;
        padding-left: 2rem;
        padding-right: 3rem;
        padding-bottom: 2rem;
    }

    .user__icon {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        position: absolute;
        
    }

    .comment__section h1 {
        font-size: 3.75rem;
        line-height: 4.25rem;
        font-weight: 700;
        padding-left: 3rem;
    }

    .add__comment {
        display: flex;
        // flex-wrap: wrap;
        align-items:center;
        // justify-content: center;
        // flex-direction: column;
        width: 100%;
        border-bottom: 1px solid map-get($colors, divider__line);
    }

    .add__comment p {
        margin-bottom: 4px;
        color: #AFAFAF;
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 400;
    }

    .form__container {
        width: 100%;
        padding-right: 3rem;
    }

    .form__username {
        height: 48px;
        width: 100%;
        border-radius: 4px;
        width: 100%;
        // position: inherit;
        border: 1px solid map-get($colors, divider__line );
        padding: 1rem;
        box-sizing: border-box;

        &:active, &:focus { // I think you said you wanted focus as well
            border: 1px solid map-get($colors , bandSite__black );
            outline: none; // add this
            background-color: #ffffff;
          }

          &:invalid {
            border: 1px solid red;
          }
    }

    .form__username--input {
        width: 100%;
    }

    .comment__textbox {
        width: 100%;
        border: 1px solid map-get($colors, divider__line );
        padding: 1rem;
        box-sizing: border-box;

        &:active, &:focus { // I think you said you wanted focus as well
            border: 1px solid map-get($colors , bandSite__black );
            outline: none; // add this
            background-color: #ffffff;
          }

          &:invalid {
            border: 1px solid red;
          }
    }

    .comment__button {
        height: 40px;
        width: 150px;
        color: white;
        background-color: map-get($colors , bandSite__black );
        margin-left: .75rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 4px;
        float: right;

        &:hover {
            background-color: #000000;
        }
    }

    // .comment__card {
    //     padding-top: 1rem;
    // }


    .saved__comment--container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .comment__text {
        padding-left: 4rem;
        order: 3;
        padding-bottom: 1rem;
        margin: 0;
    }

    .comment__creator {
        margin: 0;
        padding-top: 2rem;
        padding-left: 1rem;
        order: 1;
    }

    .date__text {
        flex: 2 1 auto;
        text-align: right;
        width: 2rem;
        height: 2rem;
        color: map-get($colors, cta__text--col);
        font-size: 0.813rem; /*13px*/
        padding-top: 1rem;
        float: right;
        order: 2;
        margin: 0;
    }
    










        /*comment section*/



    /* SHOWS Section */

    .shows__section {
        display: flex;
        padding: 3rem;
        //border-bottom: .3rem solid map-get($colors , cta__text--col );
        flex-wrap: wrap;
        flex-direction: column;
    }

    .table__container {
        width: 100%;
    }

    .show__table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }

    .shows__section h1 {
        font-size: 3.75rem; /* 60px */
        line-height: 4.25rem; /* 68px */ 
        font-weight: 700;
    }

    .table__container th {
        font-size: .875rem; /*14px*/
        line-height: 1.375rem;
        font-weight: 600;
        text-align: left;
        color: map-get($colors ,cta__text--col);
    }

    .shows__container {
        display: none;
    }

    .table__container {
        display: block;
    }

    .ticket__button {
        align-self: center;
        background-color: map-get($colors , bandSite__black);
        color: #FFFFFF;
        height: 2.5rem; /*40px*/
        width: 100%;
        border-radius: 0.25rem; /*4px*/
        border: none;
    }
                                                       
    /* Footer Section */

    .footer__container {
        display: flex;
        background-color: map-get($colors, bandSite__black );
        padding: 2.25rem;
        flex-wrap: wrap;
        color: #FFFFFF;
        flex-direction: row;
        height: 32rem;
        align-content: flex-start;
        justify-content: space-between;
        height: max-content;
        width: 100vw;
    }

    .footer__container h1 {
        color: #FFFFFF;
        font-size: 2.75rem; /*60px*/
        line-height: 2.75rem; /*44px */
        font-weight:700;
        order: 1;
        width: 16rem; /* 340 px */
        height: 3rem; /* 148px */
        margin: 0;
        align-self: flex-start;
        padding-bottom: 2.25rem;
        padding-top: 2.25rem;
    }

    .footer__socialicons {
        display: flex;
        order: 2;
        height: 32px;
        width: 12rem;
        position:static;
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
    }

    .footer__socialicons img {
        align-items: center;
        width: 4rem;
        height: 2rem;
        position: relative;
    }

    .footer__logo--container {
        display: flex;
        order: 3;
        right: 0;
        margin-left: 10rem;
        position: relative;
        float: right;
        padding: 2.25rem;
        margin-right: 10rem;
        left: 10rem;
    }

    .site__logo {
        height: 20px;
        width: 120px;
        flex-shrink: 0;
    }

    .footer__title {
        order: 4;
        width: 14rem;
        height: 2.50rem;
        flex: 0 0 33.3333%;
        position: static;
        padding-bottom: 2.25rem;
        float: left;
        
    }

    .footer__title2 {
        order: 5;
        width: 14rem;
        height: 2.50rem;
        flex: 0 0 33.3333%;
        position: sticky;
    }

    .footer__title--extended {
        order: 6;
        width: 14rem;
        height: 2.50rem;
        flex: 0 0 33.3333%;
        position: sticky;
    }

    .footer__paragraph {
        order: 7;
        width: 14rem;
        height: 2.50rem;
        flex: 0 0 33.3333%;
        padding-bottom: 2.25rem;
    }

    .footer__paragraph2 {
        order: 8;
        width: 14rem;
        height: 2.50rem;
        flex: 0 0 33.3333%;
    }

    .footer__paragraph--extended {
        order: 9;
        width: 14rem;
        height: 2.50rem;
        flex: 0 0 33.3333%;
    }
    
    .footer__email1 {
        order: 10;
        width: 14rem;
        height: 2.50rem;
        flex: 0 0 33.3333%;
        padding-bottom: 2.25rem;
    }

    .footer__email2 {
        order: 11;
        width: 14rem;
        height: 2.50rem;
        flex: 0 0 33.3333%;
    }

    .footer__email3 {
        order: 12;
        width: 14rem;
        height: 2.50rem;
        flex: 0 0 33.3333%;
    }

    .copyright__container {
        order: 13;
        width: 100%;
    }

    .footer__copyright {
        order: 13;
        width: 100%;
        height: 2.50rem;
    }

    /*Footer Section */
}
/*TABLET BREAKPOINT */



















/*----------------------------------------------------------------------------------------*/



