$colors: (
    bandSite__black: #323232, /*Primary text color for dark on light bg*/
    cta__text--col: #AFAFAF,/*Seconday text color. Inactive CTA text color.*/
    cta__text--active: #FFFFFF,/*Primary text color for light on dark bg. Light bg color. Active CTA text color.*/
    cta__hover: #000000,/*CTA hover state*/
    divider__line: #E1E1E1,/*Divider line. Form field outline.*/
    bg__alt--col: #FAFAFA,/*Primary text color for light on dark bg. Light bg color. Active CTA text color.*/

);