

@use './partials/desktopBreakpoint' as *;
@use './partials/tabletBreakpoint' as *;
@use './partials/variables' as *;

@font-face {
    font-family: 'avenir_next_lt_probold';
    src: url('../assets/Font/FontsConverted/avenirnextltpro-bold-webfont.woff2') format('woff2'),
         url('../assets/Font/FontsConverted/avenirnextltpro-bold-webfont.woff') format('woff');
    font-weight:bold;
    font-style:normal;

}




@font-face {
    font-family: 'avenir_next_lt_prodemi';
    src: url('../assets/Font/FontsConverted/avenirnextltpro-demi-webfont.woff2') format('woff2'),
         url('../assets/Font/FontsConverted/avenirnextltpro-demi-webfont.woff') format('woff');
    font-weight:600;
    font-style: normal;

}




@font-face {
    font-family: 'avenir_next_lt_proregular';
    src: url('../assets/Font/FontsConverted/avenirnextltpro-regular-webfont.woff2') format('woff2'),
         url('../assets/Font/FontsConverted/avenirnextltpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family:  'avenir_next_lt_proregular', sans-serif;
    font-size: 16px;
}


body {
    margin: 0;
    padding: 0;
    border: none;
}

.navsection {
    background-color: map-get($colors, bandSite__black );
    color: map-get($colors, cta__text--active );
    width: 100vw;
}


/* MOBILE BREAKPOINT */

@media screen and (max-width: 767px){ /*767px*/
    .navsection__title {
        margin: auto;
        width: 100%;
        padding: 0.5rem; /*8px*/
        text-align: center;
    }
    
    .navsection__menu--container {
        display: flex;
        width: 100vw;
        text-align: center;
    }

    .nav__text--container {
        width: 50vw;
        text-align: center;
    }

    .nav__text--container2 {
        width: 50vw;
        height: 4vh;
        text-align: center;
    }

    .nav__text--container h2 {
        font-size: 1.5rem;/*24px*/
        line-height: 2rem;/*36px*/
    }
    h1 h2{
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
    }

    h1 {
        margin: 0%;
        margin-top: 0%;
        margin-inline-start: 0%;
    }

    h3 {/*subheader*/
        font-size: 0.875rem ;/*14px*/
        line-height: 1.375rem;/*22px*/
        font-weight: 600;
    }
    body p {
        font-size: 0.813rem; /*13px*/
        line-height: 1.125rem;/*18px*/
    }

    nav a.active {
        text-decoration: none;
        display: inline-block;
        border: -1rem solid map-get($colors ,  bandSite__black);
        padding-left: 28%;
        padding-right: 38%;
        border-bottom: .3rem solid map-get($colors , cta__text--active );
        color: map-get($colors , cta__text--active );
        font-weight: 700;
       
    }

    nav a.inactive {
        color: map-get($colors , cta__text--col );
        text-decoration: none;
    }

    footer {
        font-size: 0.813rem; /*13px*/
        line-height: 1.125rem;/*18px*/
    }
    /*labels and buttons
    text size: 10px | line height 20px | text weight bold 700*/


 /* HERO SECTION */

    .hero__section {
        width: 100vw;
        //background-color: #323232;
    }
    .hero__img--container {
        position: relative;
        text-align: center;
        color: map-get($colors , cta__text--active );
        background-image: url(../assets/Images/hero-bio.jpg);
        background-size:cover;
        height: 55vw;
        width: 100vw;
        overflow: hidden;
    }

    .hero__img--container h1 {
        position: absolute;
        top: 50%;
        left: 17svh;
        transform: translate(-50%, -50%);
        font-size: 1.5rem; /* 24px */
        line-height: 2rem; /* 32px */ 
        font-weight: 700;
        
    }
    
    .hero__opaque--filter {
        position: absolute ;
        background-color: #323232;
        opacity: 50%;
    }

    /* HERO SECTION */

    /*ABOUT SECTION */

    .about__section h1 {
        color: map-get($colors, bandSite__black );
        font-size: 1.5rem; /* 24px */
        line-height: 2rem; /* 32px */ 
        font-weight: 700;
        padding-bottom: 1rem;
        
    }

    .about__section {
        padding: 1rem;
    }
    
    .musician__image--container {
        display: block;
        background-image: url(../assets/Images/band.jpg);
        background-size: cover;
        margin-right: auto;
        margin-left:auto;
        width: 100%;
        height: 14.375rem;/* 422px */

    }

    .about__section--text h3, h2 {
        font-size: .875em; /*36x*/
        line-height: 1.375rem; /*22px */
        font-weight:600;
    }

    .about__section--text h4 {
        font-size: 0.875rem;
        line-height: 2rem; /*22px */
        font-weight:600;
    }


    .about__section--text p {
        font-size: 0.813rem; /*12px*/
        line-height: 1.125rem; /*1 8px */
        font-weight: 400;
    }
    /*ABOUT SECTION */


    /* Photo Gallery */


    .gallery__section {
        display: flex;
        background-color: #FAFAFA;
        justify-content: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1.5rem;
       // place-items: center;
       
    }
    
    .gallery__title {
        background-color: #FAFAFA;
    }


    .gallery__title h1 {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        padding: 1.2rem;
    }


    .gallery__container {
        display: flex;
        max-width: 75rem;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1rem;
    }

    .gallery__container img {
        width: 21rem;
        height: 12.5rem;
    }


    .img__container {
        display: inline-block;

    }

    /* Photo Gallery */

/*------------------------------------------------------------------------------------------------------------------------ */


    /*Comment Section */

    .comment__section {
        justify-content:left;
        align-items: center;
        padding-bottom: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
    .comment__section h1 {
        font-size: 1.5rem; /*24px */
        line-height: 2rem;
        font-weight: 700;
        padding-bottom: 1.5rem;
        padding-right: 1.5rem;
        width: 100%;
    }

    .comment__section p {
        margin: 0rem;
    }

    .comment__section--container {
        display: flex;
        flex-direction: row;
    }
//    .user__icon--container {
//     width: 3rem;
//     margin: 0px;
    
//     }

    .form__username {
        height: 2.25rem;
        width: 100%;
        border-radius: 4px;
        margin: 0.75rem;
    }


    .comment__form {
        // border-bottom-color: map-get($colors, divider__line);
        border-bottom: 1px solid map-get($colors, divider__line);
        padding-bottom: 1rem;
    }
    
    .user__icon {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
    }


    .saved__comment--container {
        display: flex ;
        flex-wrap: wrap;
        border-bottom: 1px solid map-get($colors, divider__line);
        
    }
    
    .user__icon--blank {
        background-color: #E1E1E1;
        opacity: 50%;
        border-radius: 50%;
        width: 2.25rem;
        height: 2.25rem;
        margin-top: 2rem;
        
    }

    .comment__creator {
        width: 7rem;
        margin: 0;
        padding-top: 2rem;
        padding-left: .75rem;
    }

    .comment__text {
        padding-left: 3rem;
    }

    .date__text {
        flex: 2 1 auto;
        justify-self: right;
        text-align: right;
        width: 2rem;
        height: 2rem;
        color: map-get($colors, cta__text--col);
        font-size: 0.813rem; /*13px*/
        padding-top: 2rem;
    }

    
        // .comment_text {

        // }

    // .form__comment {
    //    margin: 2rem; 
    // }

   



    /*Comment Section */






    /* Footer Section */
    .footer__container {
        background-color: map-get($colors, bandSite__black );
        padding-left: 1.5rem;
        padding-bottom: 1rem;
    }

    .footer__container h1 {
        color:#FFFFFF;
        font-size: 1.5rem; /*24px */
        line-height: 2rem;
        font-weight: 700;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    
    .footer__socialicons {
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
    }

    
    .footer__socialicons img {
        width: 1.5rem;
        height: 1.5rem;
        padding-bottom: 1rem;
    }
    
    
    .footer__container h3 {
        color:#FFFFFF;
        margin-bottom: 0;
        margin-top: 0;
    }


    .footer__container P {
        color: #FFFFFF;
    }

    
    .footer__logo--container {
        margin-top: 3rem;
    }
   
    /* Footer Section */

}

/* MOBILE BREAKPOINT */










/*---------------------------------------------------------------------------------------- */























