* {
  font-family: "Avenir Next";
  font-size: 16px;
}

body {
  margin: 0%;
}

.navsection {
  background-color: #323232;
  color: #FFFFFF;
  width: 100vw;
}

/* MOBILE BREAKPOINT */
@media screen and (min-width: 360px) and (max-width: 767px) { /*767px*/
  .navsection__title {
    margin: auto;
    width: 100%;
    padding: 0.5rem; /*8px*/
    text-align: center;
  }
  .navsection__menu--container {
    display: flex;
    width: 100vw;
    text-align: center;
  }
  .nav__text--container {
    width: 50vw;
    padding: 0;
  }
  .nav__text--container h2 {
    font-size: 1.5rem; /*24px*/
    line-height: 2rem; /*36px*/
  }
  h1 h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  h1 {
    margin: 0%;
    margin-top: 0%;
    -webkit-margin-start: 0%;
            margin-inline-start: 0%;
  }
  h3 { /*subheader*/
    font-size: 0.875rem; /*14px*/
    line-height: 1.375rem; /*22px*/
    font-weight: Demi 600;
  }
  body p {
    font-size: 0.813rem; /*13px*/
    line-height: 1.125rem; /*18px*/
  }
  nav a.active {
    text-decoration: none;
    display: inline-block;
    border: -1rem solid #323232;
    padding-left: 39%;
    padding-right: 39%;
    border-bottom: 0.3rem solid #FFFFFF;
    color: #FFFFFF;
  }
  footer {
    font-size: 0.813rem; /*13px*/
    line-height: 1.125rem; /*18px*/
  }
  /*labels and buttons
  text size: 10px | line height 20px | text weight bold 700*/
  /* HERO SECTION */
  .hero__section {
    width: 101vw;
  }
  .hero__img--container {
    position: relative;
    text-align: center;
    color: #FFFFFF;
  }
  .hero__img--container h1 {
    position: absolute;
    top: 50%;
    left: 23vh;
    transform: translate(-50%, -50%);
    font-size: 3.75rem; /* 60px */
    line-height: 4.25rem; /* 68px */
    font-weight: 600;
  }
  /* HERO SECTION */
}
/* MOBILE BREAKPOINT */
/* Tablet breakpoint*/
@media (min-width: 768px) and (max-width: 1280px) {
  /* Navigation*/
  nav {
    width: 100%;
  }
  .navsection {
    display: flex;
  }
  .navsection__title {
    padding: 24px;
    justify-content: center;
    display: inline-block;
  }
  .nav__text--container {
    display: inline-block;
    padding-left: 1rem; /*16px */
    padding-right: 3.5rem; /*56px */
    margin: 0%;
    justify-content: center;
    padding-top: 0.5rem;
  }
  nav a.active {
    text-decoration: underline;
    display: inline-block;
    text-underline-offset: 1.75rem; /*28px */
    text-decoration-color: #FFFFFF;
    text-decoration-thickness: 0.313rem; /*5px */
    color: #FFFFFF;
  }
  /* Navigation*/
  /* HERO SECTION */
  .hero__img--container {
    position: relative;
    text-align: center;
    color: #FFFFFF;
  }
  .hero__img--container h1 {
    position: absolute;
    top: 50%;
    left: 23vh;
    transform: translate(-50%, -50%);
    font-size: 3.75rem; /* 60px */
    line-height: 4.25rem; /* 68px */
    font-weight: 600;
  }
  /* HERO SECTION */
}
/*TABLET BREAKPOINT */
/* DESKTOP BREAKPOINT*/
@media (min-width: 1280px) {
  /* Navigation */
  nav {
    width: 100%;
  }
  .navsection {
    display: flex;
  }
  .navsection__title {
    padding: 32px;
    margin-left: 120px;
    justify-content: center;
    display: inline-block;
    margin-right: 40px;
  }
  .nav__text--container {
    display: inline-block;
    padding: 1rem; /*16px */
    justify-content: center;
  }
  nav a.active {
    text-decoration: underline;
    display: inline-block;
    text-underline-offset: 2.25rem; /*36px */
    text-decoration-color: #FFFFFF;
    text-decoration-thickness: 0.313rem; /*5px */
    color: #FFFFFF;
  }
  /* Navigation */
  /* HERO SECTION */
  .hero__img--container {
    position: relative;
    text-align: center;
    color: #FFFFFF;
  }
  .hero__img--container h1 {
    position: absolute;
    top: 50%;
    left: 50vh;
    transform: translate(-50%, -50%);
    font-size: 3.75rem; /* 60px */
    line-height: 2rem;
    font-weight: 600;
  }
  /* HERO SECTION */
}/*# sourceMappingURL=bio.css.map */