$colors: (
    bandSite__black: #323232, /*Primary text color for dark on light bg*/
    cta__text--col: #AFAFAF,/*Seconday text color. Inactive CTA text color.*/
    cta__text--active: #FFFFFF,/*Primary text color for light on dark bg. Light bg color. Active CTA text color.*/
    cta__hover: #000000,/*CTA hover state*/
    divider__line: #E1E1E1,/*Divider line. Form field outline.*/
    bg__alt--col: #FAFAFA,/*Primary text color for light on dark bg. Light bg color. Active CTA text color.*/

);


* {
    font-family: 'Avenir Next';
    font-size: 16px;
}

body {
    margin: 0%;
}

.navsection {
    background-color: map-get($colors, bandSite__black );
    color: map-get($colors, cta__text--active );
}


@media screen and (max-width: 767px){ /*767px*/
    .navsection__title {
        margin: auto;
        width: 100%;
        padding: 0.5rem; /*8px*/
        text-align: center;
    }
    
    .navsection__menu--container {
        display: flex;
        width: 100vw;
        text-align: center;
    }

    .nav__text--container {
        width: 50vw;
        padding: 0;
    }

    .nav__text--container h2 {
        font-size: 1.5rem;/*24px*/
        line-height: 2rem;/*36px*/
    }
    h1 h2{
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
    }

    h1 {
        margin: 0%;
        margin-top: 0%;
        margin-inline-start: 0%;
    }

    h3 {/*subheader*/
        font-size: 0.875rem ;/*14px*/
        line-height: 1.375rem;/*22px*/
        font-weight: Demi 600;
    }
    body p {
        font-size: 0.813rem; /*13px*/
        line-height: 1.125rem;/*18px*/
    }

    nav a.active {
        text-decoration: none;
        display: inline-block;
        border: -1rem solid map-get($colors , bandSite__black);
        padding-left: 39%;
        padding-right: 39%;
        border-bottom: .3rem solid map-get($colors , cta__text--active );
        color: map-get($colors , cta__text--active );
       
    }

    footer {
        font-size: 0.813rem; /*13px*/
        line-height: 1.125rem;/*18px*/
    }
    /*labels and buttons
    text size: 10px | line height 20px | text weight bold 700*/
}

/* Tablet breakpoint*/
@media (min-width: 768px) and (max-width: 1280px) {

    nav {
        width: 100%;
    }
    
    .navsection {
        display: flex;
    }
    
    .navsection__title {
        padding: 24px;
        justify-content: center;
        display: inline-block;
    }
    
    .nav__text--container {
        display: inline-block;
        padding-left: 1rem; /*16px */
        padding-right: 3.5rem; /*56px */
        margin: 0%;
        justify-content: center;
        padding-top: .5rem;
    }

    nav a.active {
        text-decoration: underline;
        display: inline-block;
        text-underline-offset: 1.75rem; /*28px */
        text-decoration-color: map-get($colors , cta__text--active );
        text-decoration-thickness: 0.313rem; /*5px */
        color: map-get($colors , cta__text--active );
    }

}


/* Desktop Breakpoint*/
@media (min-width: 1280px) {
    nav {
        width: 100%;
    }

    .navsection {
        display: flex;
    }
    
    .navsection__title {
        padding-left: 72px;
        justify-content: center;
        display: inline-block;
    }
}