body {
  margin: 0;
}

* {
  margin: 0;
}

@media screen and (min-width: 1280px) {
  /* Navigation */
  nav {
    width: 100%;
  }
  body {
    margin: 0;
  }
  * {
    margin: 0;
  }
  .navsection {
    display: flex;
    flex-direction: row;
  }
  .navsection__title {
    padding: 32px;
    margin-left: 120px;
    justify-content: center;
    margin-right: 3rem;
  }
  .navsection__menu--container {
    display: flex;
    flex-direction: row;
  }
  .nav__text--container {
    padding-left: 1rem; /*16px */
    padding-right: 3.5rem;
    justify-content: center;
    padding-top: 1rem;
  }
  .nav__text--container2 {
    justify-content: center;
    padding-top: 1rem;
    border-bottom: 0.3rem solid #FFFFFF;
  }
  nav a.active {
    text-decoration: underline;
    display: inline-block;
    text-underline-offset: 2.25rem; /*36px */
    text-decoration-color: #FFFFFF;
    text-decoration-thickness: 0.313rem; /*5px */
    color: #FFFFFF;
  }
  nav a.inactive {
    color: #AFAFAF;
    text-decoration: none;
  }
  /* Navigation */
  /* HERO SECTION */
  .hero__section {
    width: 100vw;
  }
  .hero__img--container {
    position: relative;
    text-align: center;
    color: #FFFFFF;
    background-image: url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    height: 65vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }
  .hero__img--container h1 {
    position: absolute;
    font-size: 3.75rem; /* 60px */
    line-height: 4.25rem;
    font-weight: 600;
    padding: 3rem;
    order: 1;
  }
  .hero__img--container h3 {
    align-self: flex-start;
    position: absolute;
    font-size: 1.5rem;
    line-height: 2.75rem;
    font-weight: 600;
    order: 0;
    padding: 3rem;
    margin-left: 120px;
  }
  .hero__opaque--filter {
    position: absolute;
    background-color: #323232;
    opacity: 50%;
    height: 100%;
    width: 100%;
  }
  .soundcloud__container {
    width: 60%;
    height: 20%;
    position: absolute;
    top: 60%;
    padding-left: 3rem;
    padding-right: 3rem;
    order: 2;
  }
  .soundcloud__container iframe {
    width: 50%;
  }
  /* HERO SECTION */
  /*ABOUT SECTION */
  .about__section h1, .gallery__title h1 {
    color: #323232;
    font-size: 2.25rem; /* 60px */
    line-height: 2.75rem; /* 32px */
    font-weight: 700;
    padding-left: 3rem;
    margin-left: 4rem;
  }
  .about__section {
    padding: 3rem;
  }
  .musician__image--container {
    display: block;
    background-image: url(../assets/Images/band.jpg);
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    width: 68vw;
    height: 60vh;
  }
  .about__section--text h2 {
    font-size: 1.5rem; /*24px*/
    line-height: 2rem; /*32px */
    font-weight: 700;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    margin-left: 9.5vw;
    margin-right: 28vw;
    margin-top: 2rem;
  }
  .about__section--text h3 {
    font-size: 0.875rem; /*14px*/
    line-height: 2rem; /*32px */
    font-weight: 600;
    padding-left: 2.5vw; /*36px*/
    margin-left: 9vw;
  }
  .about__section--text h4 {
    padding-left: 3rem; /* 48px */
    font-size: 1.5rem; /* 24px */
    line-height: 2.75rem; /*44px */
    margin-bottom: 0;
    margin-left: 10rem;
  }
  .about__section--text p {
    font-size: 0.875rem; /*14px*/
    line-height: 1.375rem; /* 22px */
    font-weight: 400;
  }
  .about__body--container {
    display: flex;
    padding-left: 2rem; /*36px*/
    padding-right: 3rem; /*36px*/
    margin-left: 10rem;
    margin-right: 9rem;
  }
  .about__body--paragraph {
    margin: 1rem;
  }
  /*ABOUT SECTION */
  /* Gallery Section */
  .gallery__section {
    display: flex;
    background-color: #FAFAFA;
    justify-content: center;
    padding-bottom: 3rem;
  }
  .gallery__title {
    padding: 3rem;
    background-color: #FAFAFA;
  }
  .gallery__container {
    display: flex;
    max-width: 75rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
  }
  .gallery__container img {
    width: 23rem;
    height: 12.5rem;
  }
  .img__container {
    display: inline-block;
    width: 23rem;
    height: 12.5rem;
  }
  /*gallery Section */
  /*Shows Section */
  .shows__section {
    display: flex;
    padding: 3rem;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .table__container {
    width: 100%;
  }
  .show__table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }
  .shows__section h1 {
    font-size: 3.75rem; /* 60px */
    line-height: 4.25rem; /* 68px */
    font-weight: 700;
  }
  .table__container th {
    font-size: 0.875rem; /*14px*/
    line-height: 1.375rem;
    font-weight: 600;
    text-align: left;
    color: #AFAFAF;
  }
  .show__table tr {
    padding: 1rem;
  }
  .table__row {
    border-bottom: 2px solid #E1E1E1;
    padding-bottom: 1rem;
  }
  .table__data--date {
    font-size: 0.875rem;
    line-height: 2rem;
    font-weight: 700;
  }
  .ticket__button {
    align-self: center;
    background-color: #323232;
    color: #FFFFFF;
    height: 2.5rem; /*40px*/
    width: 100%;
    border-radius: 0.25rem; /*4px*/
    border: none;
  }
  /*Shows Section */
  /*comment section*/
  .add__comment {
    display: flex;
    justify-content: center;
  }
  .add__comment p {
    margin-bottom: 4px;
    color: #AFAFAF;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  .comment__section h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    padding-left: 3rem;
  }
  .user__icon--container {
    border-radius: 50%;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 2.5rem;
  }
  .user__icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }
  .form__container {
    width: 33rem;
  }
  .form__username {
    height: 48px;
    border-radius: 4px;
    width: 100%;
    position: inherit;
    border: 1px solid #E1E1E1;
    padding: 1rem;
    box-sizing: border-box;
  }
  .form__username:active, .form__username:focus {
    border: 1px solid #323232;
    outline: none;
    background-color: #ffffff;
  }
  .form__username:invalid {
    border: 1px solid red;
  }
  .comment__textbox {
    width: 100%;
    border: 1px solid #E1E1E1;
    height: 96px;
    border-radius: 4px;
    padding: 1rem;
    box-sizing: border-box;
  }
  .comment__textbox:active, .comment__textbox:focus {
    border: 1px solid #323232;
    outline: none;
    background-color: #ffffff;
  }
  .comment__textbox:invalid {
    border: 1px solid red;
  }
  .comment__button {
    height: 40px;
    width: 150px;
    color: white;
    background-color: #323232;
    margin-left: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    float: right;
  }
  .user__icon--blank {
    background-color: #E1E1E1;
    opacity: 50%;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 0;
    order: 0;
    margin-top: 2rem;
    box-sizing: border-box;
  }
  .comment__card {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 33rem;
    padding: 3rem;
    margin-right: 0;
    height: 50vh;
  }
  .saved__comment--container {
    width: 100%;
    margin: 0;
    align-self: center;
    justify-self: center;
  }
  /*comment section*/
  /*footer section */
  .footer__container {
    display: flex;
    background-color: #323232;
    padding: 2.25rem;
    flex-wrap: wrap;
    color: #FFFFFF;
    flex-direction: row;
    height: 32rem;
    justify-content: space-between;
    margin: auto;
  }
  .footer__container h1 {
    color: #FFFFFF;
    font-size: 2.75rem; /*60px*/
    line-height: 2.75rem; /*44px */
    font-weight: 700;
    order: 1;
    width: 17rem; /* 340 px */
    height: 3rem; /* 148px */
    margin: 0;
    align-self: flex-start;
  }
  .footer__socialicons {
    display: flex;
    order: 2;
    height: 32px;
    width: 192px;
  }
  .footer__socialicons img {
    align-items: center;
    width: 4rem;
    height: 2rem;
  }
  .footer__logo--container {
    display: flex;
    order: 3;
    right: 0;
    margin-left: 4rem;
    position: sticky;
    float: right;
    padding: 2.25rem;
    height: -moz-max-content;
    height: max-content;
    width: -moz-max-content;
    width: max-content;
    margin-right: 9rem;
  }
  .site__logo {
    height: 20px;
    width: 120px;
    flex-shrink: 0;
  }
  .footer__title {
    order: 4;
    width: 14rem;
    height: 2.5rem;
    position: static;
    flex: 0 0 33.3333%;
  }
  .footer__title2 {
    order: 5;
    width: 14rem;
    height: 2.5rem;
    flex: 0 0 33.3333%;
  }
  .footer__title--extended {
    order: 6;
    width: 14rem;
    height: 2.5rem;
    flex: 0 0 33.3333%;
  }
  .footer__paragraph {
    order: 7;
    width: 14rem;
    height: 2.5rem;
    flex: 0 0 33.3333%;
  }
  .footer__paragraph2 {
    order: 8;
    width: 14rem;
    height: 2.5rem;
    flex: 0 0 33.3333%;
  }
  .footer__paragraph--extended {
    order: 9;
    width: 14rem;
    height: 2.5rem;
    flex: 0 0 33.3333%;
  }
  .footer__email1 {
    order: 10;
    width: 14rem;
    height: 2.5rem;
    flex: 0 0 33.3333%;
  }
  .footer__email2 {
    order: 11;
    width: 14rem;
    height: 2.5rem;
    flex: 0 0 33.3333%;
  }
  .footer__email3 {
    order: 12;
    width: 14rem;
    height: 2.5rem;
    flex: 0 0 33.3333%;
  }
  .copyright__container {
    order: 13;
    width: 100%;
  }
  .footer__copyright {
    order: 13;
    width: 100%;
    height: 2.5rem;
  }
}
/* Tablet breakpoint*/
@media screen and (min-width: 768px) and (max-width: 1279px) {
  * {
    font-family: "avenir_next_lt_proregular", sans-serif;
    font-size: 16px;
  }
  body {
    margin: 0px;
    padding: 0;
    border: none;
  }
  /* Navigation*/
  nav {
    width: 100%;
  }
  .navsection {
    display: flex;
    flex-direction: row;
  }
  .navsection__title {
    padding: 24px;
    justify-content: center;
  }
  .navsection__menu--container {
    display: flex;
    flex-direction: row;
  }
  .nav__text--container {
    padding-left: 1rem; /*16px */
    padding-right: 3.5rem; /*56px */
    justify-content: center;
    padding-top: 0.5rem;
  }
  .nav__text--container2 {
    justify-content: center;
    padding-top: 0.5rem;
    border-bottom: 0.3rem solid #FFFFFF;
  }
  nav a.active {
    text-decoration: underline;
    display: inline-block;
    text-underline-offset: 1.75rem; /*28px */
    text-decoration-color: #FFFFFF;
    text-decoration-thickness: 0.313rem; /*5px */
    color: #FFFFFF;
  }
  nav a.inactive {
    color: #AFAFAF;
    text-decoration: none;
  }
  /* Navigation*/
  /*ABOUT SECTION */
  .about__section h1 {
    color: #323232;
    font-size: 3.75rem; /* 60px */
    line-height: 4.25rem; /* 68px */
    font-weight: 700;
    margin: 0;
  }
  .about__section {
    padding: 3rem;
  }
  .musician__image--container {
    display: block;
    background-image: url(../assets/Images/band.jpg);
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    width: 75vw;
    height: 50vh;
  }
  .about__section--text h2 {
    font-size: 1.5rem; /*24px*/
    line-height: 2rem; /*32px */
    font-weight: 700;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 2rem;
  }
  .about__section--text h3 {
    font-size: 0.875rem; /*14px*/
    line-height: 2rem; /*32px */
    font-weight: 600;
    padding-left: 3rem; /*36px*/
  }
  .about__section--text h4 {
    padding-left: 3rem; /* 48px */
    font-size: 1.5rem; /* 24px */
    line-height: 2.75rem; /*44px */
    margin-bottom: 0;
  }
  .about__section--text p {
    font-size: 0.875rem; /*14px*/
    line-height: 1.375rem; /* 22px */
    font-weight: 500;
    margin-right: 3rem;
  }
  .about__body--container {
    display: flex;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .about__body--paragraph {
    margin: 1rem;
  }
  /*about Section*/
  /* HERO SECTION */
  .hero__section {
    width: 100vw;
  }
  .hero__img--container {
    position: relative;
    color: #FFFFFF;
    background-image: url(../assets/Images/hero-shows.jpg);
    background-size: cover;
    height: 65vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .hero__img--container h1 {
    position: absolute;
    top: 20%;
    padding-left: 3rem;
    font-size: 3.75rem; /* 60px */
    line-height: 4.25rem; /* 68px */
    font-weight: 700;
    text-align: left;
    order: 1;
  }
  .hero__img--container h3 {
    position: absolute;
    top: 10%;
    padding-left: 3rem;
    font-size: 1.5rem; /*24px*/
    line-height: 2.75rem;
    font-weight: 600;
    order: 0;
  }
  .hero__opaque--filter {
    position: absolute;
    background-color: #323232;
    opacity: 50%;
    height: 100%;
    width: 100%;
  }
  .soundcloud__container {
    width: 90%;
    height: 20%;
    position: absolute;
    top: 60%;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .soundcloud__container iframe {
    width: 50%;
  }
  /* HERO SECTION */
  /* Gallery Section */
  .gallery__section {
    display: flex;
    background-color: #FAFAFA;
    justify-content: center;
    padding-bottom: 3rem;
  }
  .gallery__title {
    padding: 3rem;
    background-color: #FAFAFA;
    color: #323232;
    font-size: 3.75rem; /* 60px */
    line-height: 4.25rem; /* 68px */
    font-weight: 700;
    margin: 0;
  }
  .gallery__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-left: 3rem;
    padding-right: 3rem;
    overflow: hidden;
  }
  .img__container {
    flex: 0 0 33.333333%;
    overflow: hidden;
    position: relative;
  }
  .gallery__container img {
    width: 20rem;
    height: 12.5rem;
    padding: 0.5rem;
  }
  /*gallery Section */
  /* comment Section */
  .comment__section--container {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    justify-content: center;
    flex-direction: row;
  }
  .user__icon--blank {
    background-color: #E1E1E1;
    opacity: 50%;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 0;
    order: 0;
    margin-top: 2rem;
  }
  .user__icon--container {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: relative;
    bottom: 28%;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
  }
  .user__icon {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: absolute;
  }
  .comment__section h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    padding-left: 3rem;
  }
  .add__comment {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #E1E1E1;
  }
  .add__comment p {
    margin-bottom: 4px;
    color: #AFAFAF;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  .form__container {
    width: 100%;
    padding-right: 3rem;
  }
  .form__username {
    height: 48px;
    width: 100%;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #E1E1E1;
    padding: 1rem;
    box-sizing: border-box;
  }
  .form__username:active, .form__username:focus {
    border: 1px solid #323232;
    outline: none;
    background-color: #ffffff;
  }
  .form__username:invalid {
    border: 1px solid red;
  }
  .form__username--input {
    width: 100%;
  }
  .comment__textbox {
    width: 100%;
    border: 1px solid #E1E1E1;
    padding: 1rem;
    box-sizing: border-box;
  }
  .comment__textbox:active, .comment__textbox:focus {
    border: 1px solid #323232;
    outline: none;
    background-color: #ffffff;
  }
  .comment__textbox:invalid {
    border: 1px solid red;
  }
  .comment__button {
    height: 40px;
    width: 150px;
    color: white;
    background-color: #323232;
    margin-left: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    float: right;
  }
  .comment__button:hover {
    background-color: #000000;
  }
  .saved__comment--container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .comment__text {
    padding-left: 4rem;
    order: 3;
    padding-bottom: 1rem;
    margin: 0;
  }
  .comment__creator {
    margin: 0;
    padding-top: 2rem;
    padding-left: 1rem;
    order: 1;
  }
  .date__text {
    flex: 2 1 auto;
    text-align: right;
    width: 2rem;
    height: 2rem;
    color: #AFAFAF;
    font-size: 0.813rem; /*13px*/
    padding-top: 1rem;
    float: right;
    order: 2;
    margin: 0;
  }
  /*comment section*/
  /* SHOWS Section */
  .shows__section {
    display: flex;
    padding: 3rem;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .table__container {
    width: 100%;
  }
  .show__table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }
  .shows__section h1 {
    font-size: 3.75rem; /* 60px */
    line-height: 4.25rem; /* 68px */
    font-weight: 700;
  }
  .table__container th {
    font-size: 0.875rem; /*14px*/
    line-height: 1.375rem;
    font-weight: 600;
    text-align: left;
    color: #AFAFAF;
  }
  .show__table tr {
    padding: 1rem;
  }
  .table__row {
    border-bottom: 2px solid #E1E1E1;
    padding-bottom: 1rem;
  }
  .table__data--date {
    font-size: 0.875rem;
    line-height: 2rem;
    font-weight: 700;
  }
  .ticket__button {
    align-self: center;
    background-color: #323232;
    color: #FFFFFF;
    height: 2.5rem; /*40px*/
    width: 100%;
    border-radius: 0.25rem; /*4px*/
    border: none;
  }
  /* Footer Section */
  .footer__container {
    display: flex;
    background-color: #323232;
    padding: 2.25rem;
    flex-wrap: wrap;
    color: #FFFFFF;
    flex-direction: row;
    height: 32rem;
    align-content: flex-start;
    justify-content: space-between;
    height: -moz-max-content;
    height: max-content;
    width: 100vw;
  }
  .footer__container h1 {
    color: #FFFFFF;
    font-size: 2.75rem; /*60px*/
    line-height: 2.75rem; /*44px */
    font-weight: 700;
    order: 1;
    width: 16rem; /* 340 px */
    height: 3rem; /* 148px */
    margin: 0;
    align-self: flex-start;
    padding-bottom: 2.25rem;
    padding-top: 2.25rem;
  }
  .footer__socialicons {
    display: flex;
    order: 2;
    height: 32px;
    width: 12rem;
    position: static;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
  .footer__socialicons img {
    align-items: center;
    width: 4rem;
    height: 2rem;
    position: relative;
  }
  .footer__logo--container {
    display: flex;
    order: 3;
    right: 0;
    margin-left: 10rem;
    position: relative;
    float: right;
    padding: 2.25rem;
    margin-right: 10rem;
    left: 10rem;
  }
  .site__logo {
    height: 20px;
    width: 120px;
    flex-shrink: 0;
  }
  .footer__title {
    order: 4;
    width: 14rem;
    height: 2.5rem;
    flex: 0 0 33.3333%;
    position: static;
    padding-bottom: 2.25rem;
    float: left;
  }
  .footer__title2 {
    order: 5;
    width: 14rem;
    height: 2.5rem;
    flex: 0 0 33.3333%;
    position: sticky;
  }
  .footer__title--extended {
    order: 6;
    width: 14rem;
    height: 2.5rem;
    flex: 0 0 33.3333%;
    position: sticky;
  }
  .footer__paragraph {
    order: 7;
    width: 14rem;
    height: 2.5rem;
    flex: 0 0 33.3333%;
    padding-bottom: 2.25rem;
  }
  .footer__paragraph2 {
    order: 8;
    width: 14rem;
    height: 2.5rem;
    flex: 0 0 33.3333%;
  }
  .footer__paragraph--extended {
    order: 9;
    width: 14rem;
    height: 2.5rem;
    flex: 0 0 33.3333%;
  }
  .footer__email1 {
    order: 10;
    width: 14rem;
    height: 2.5rem;
    flex: 0 0 33.3333%;
    padding-bottom: 2.25rem;
  }
  .footer__email2 {
    order: 11;
    width: 14rem;
    height: 2.5rem;
    flex: 0 0 33.3333%;
  }
  .footer__email3 {
    order: 12;
    width: 14rem;
    height: 2.5rem;
    flex: 0 0 33.3333%;
  }
  .copyright__container {
    order: 13;
    width: 100%;
  }
  .footer__copyright {
    order: 13;
    width: 100%;
    height: 2.5rem;
  }
  /*Footer Section */
}
/*TABLET BREAKPOINT */
/*----------------------------------------------------------------------------------------*/
@font-face {
  font-family: "avenir_next_lt_probold";
  src: url("../assets/Font/FontsConverted/avenirnextltpro-bold-webfont.woff2") format("woff2"), url("../assets/Font/FontsConverted/avenirnextltpro-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "avenir_next_lt_prodemi";
  src: url("../assets/Font/FontsConverted/avenirnextltpro-demi-webfont.woff2") format("woff2"), url("../assets/Font/FontsConverted/avenirnextltpro-demi-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "avenir_next_lt_proregular";
  src: url("../assets/Font/FontsConverted/avenirnextltpro-regular-webfont.woff2") format("woff2"), url("../assets/Font/FontsConverted/avenirnextltpro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "avenir_next_lt_proregular", sans-serif;
  font-size: 16px;
}

body {
  margin: 0px;
  padding: 0;
  border: none;
}

.navsection {
  background-color: #323232;
  color: #FFFFFF;
  width: 100vw;
}

/* MOBILE BREAKPOINT */
@media screen and (max-width: 767px) { /*767px*/
  .navsection__title {
    margin: auto;
    width: 100%;
    padding: 0.5rem; /*8px*/
    text-align: center;
  }
  .navsection__menu--container {
    display: flex;
    width: 100vw;
    text-align: center;
  }
  .nav__text--container {
    width: 50vw;
    text-align: center;
  }
  .nav__text--container2 {
    width: 50vw;
    height: 4vh;
    text-align: center;
  }
  .nav__text--container h2 {
    font-size: 1.5rem; /*24px*/
    line-height: 2rem; /*36px*/
  }
  h1 h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  h1 {
    margin: 0%;
    margin-top: 0%;
    -webkit-margin-start: 0%;
            margin-inline-start: 0%;
  }
  h3 { /*subheader*/
    font-size: 0.875rem; /*14px*/
    line-height: 1.375rem; /*22px*/
    font-weight: 600;
  }
  body p {
    font-size: 0.813rem; /*13px*/
    line-height: 1.125rem; /*18px*/
  }
  nav a.active {
    text-decoration: none;
    display: inline-block;
    border: -1rem solid #323232;
    padding-left: 28%;
    padding-right: 38%;
    border-bottom: 0.3rem solid #FFFFFF;
    color: #FFFFFF;
    font-weight: 700;
  }
  nav a.inactive {
    color: #AFAFAF;
    text-decoration: none;
  }
  footer {
    font-size: 0.813rem; /*13px*/
    line-height: 1.125rem; /*18px*/
  }
  /*labels and buttons
  text size: 10px | line height 20px | text weight bold 700*/
  /* HERO SECTION */
  .hero__section {
    width: 100vw;
  }
  .hero__img--container {
    position: relative;
    text-align: center;
    color: #FFFFFF;
    background-image: url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    height: 55vw;
    width: 100vw;
    overflow: hidden;
  }
  .hero__img--container h1 {
    position: absolute;
    top: 50%;
    left: 17svh;
    transform: translate(-50%, -50%);
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
    font-weight: 700;
  }
  .hero__opaque--filter {
    position: absolute;
    background-color: #323232;
    opacity: 50%;
  }
  /* HERO SECTION */
  /*ABOUT SECTION */
  .about__section h1 {
    color: #323232;
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
    font-weight: 700;
    padding-bottom: 1rem;
  }
  .about__section {
    padding: 1rem;
  }
  .musician__image--container {
    background-image: url(../assets/Images/band.jpg);
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 14.375rem; /* 422px */
    overflow: hidden;
    -o-object-fit: contain;
       object-fit: contain;
    position: relative;
  }
  .musician__image--container img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .about__section--text h3, h2 {
    font-size: 0.875em; /*36x*/
    line-height: 1.375rem; /*22px */
    font-weight: 600;
  }
  .about__section--text h4 {
    font-size: 0.875rem;
    line-height: 2rem; /*22px */
    font-weight: 600;
  }
  .about__section--text p {
    font-size: 0.813rem; /*12px*/
    line-height: 1.125rem; /*1 8px */
    font-weight: 400;
  }
  /*ABOUT SECTION */
  /* Photo Gallery */
  .gallery__section {
    display: flex;
    background-color: #FAFAFA;
    justify-content: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .gallery__title {
    background-color: #FAFAFA;
  }
  .gallery__title h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    padding: 1.2rem;
  }
  .gallery__container {
    display: flex;
    max-width: 75rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
  }
  .gallery__container img {
    width: 21rem;
    height: 12.5rem;
  }
  .img__container {
    display: inline-block;
  }
  /* Photo Gallery */
  /*------------------------------------------------------------------------------------------------------------------------ */
  /*Comment Section */
  .comment__section {
    justify-content: left;
    align-items: center;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .comment__section h1 {
    font-size: 1.5rem; /*24px */
    line-height: 2rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
  }
  .comment__section p {
    margin: 0rem;
  }
  .comment__section--container {
    padding-bottom: 1rem;
    width: 100%;
  }
  .add__comment {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #E1E1E1;
  }
  .add__comment p {
    width: 2.25rem;
    height: 1.25rem;
    padding-left: 1rem;
    color: #AFAFAF;
    padding-bottom: 4px;
  }
  .form__container {
    width: 100%;
    padding-right: 1.5rem;
  }
  .comment__textbox {
    margin-left: 0.75rem;
    width: 100%;
    border: 1px solid #E1E1E1;
    padding: 1rem;
    box-sizing: border-box;
  }
  .comment__textbox:active, .comment__textbox:focus {
    border: 1px solid #323232;
    outline: none;
    background-color: #ffffff;
  }
  .comment__textbox:invalid {
    border: 1px solid red;
  }
  .user__icon--container {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding-right: 1rem;
    padding-top: 1.5rem;
  }
  .comment__button {
    height: 40px;
    width: 100%;
    color: white;
    background-color: #323232;
    margin-left: 0.75rem;
    margin-top: 1rem;
    border-radius: 4px;
    margin-bottom: 3rem;
  }
  .comment__button:hover {
    background-color: #000000;
  }
  .form__username {
    height: 2.25rem;
    width: 100%;
    border-radius: 4px;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    border: 1px solid #E1E1E1;
    padding: 1rem;
    box-sizing: border-box;
  }
  .form__username:active, .form__username:focus {
    border: 1px solid #323232;
    outline: none;
    background-color: #ffffff;
  }
  .form__username:invalid {
    border: 1px solid red;
  }
  .user__icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }
  .saved__comment--container {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #E1E1E1;
  }
  .saved__comment--container {
    display: flex;
  }
  .user__icon--blank {
    background-color: #E1E1E1;
    opacity: 50%;
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    margin-top: 1rem;
    order: 0;
  }
  .comment__creator {
    margin: 0;
    padding-top: 1rem;
    padding-left: 0.75rem;
    order: 1;
  }
  .comment__text {
    padding-left: 3rem;
    order: 3;
    padding-bottom: 1rem;
  }
  .date__text {
    flex: 2 1 auto;
    justify-self: right;
    text-align: right;
    width: 2rem;
    height: 2rem;
    color: #AFAFAF;
    font-size: 0.813rem; /*13px*/
    padding-top: 1rem;
    float: right;
    order: 2;
  }
  /*Comment Section */
  /* Footer Section */
  .footer__container {
    background-color: #323232;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
  }
  .footer__container h1 {
    color: #FFFFFF;
    font-size: 1.5rem; /*24px */
    line-height: 2rem;
    font-weight: 700;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .footer__socialicons {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
  }
  .footer__socialicons img {
    width: 1.5rem;
    height: 1.5rem;
    padding-bottom: 1rem;
  }
  .footer__container h3 {
    color: #FFFFFF;
    margin-bottom: 0;
    margin-top: 0;
  }
  .footer__container P {
    color: #FFFFFF;
  }
  .footer__logo--container {
    margin-top: 3rem;
  }
  /* Footer Section */
}
/* MOBILE BREAKPOINT */
/*---------------------------------------------------------------------------------------- *//*# sourceMappingURL=bio.css.map */